.custom-incidentsbg{
    background-color: #a78db3;
}

.custom-mainbg{
    --bg-: #ffffff;
}

body {
    background-image: 
        linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
        url('/static/images/HB.avif');
    background-color: #ebebeb;
}


.custom-head{
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.custom-button{
    background-color: #7a048f;
}

.custom-button:hover{
    background-color: #3b0b53;
}

.logo{
    opacity: 100%;
    max-height: 60px;
    width: auto;
}

.Tunabtn{
    align-content: center;
    text-align: center;
    size: 50%;
}

.text2{
    text-align: center;
}