.custom-incidentsbg{
    background-color: #a78db3;
}

.custom-mainbg{
    --bg-: #ffffff;
}

body {
    background-image: url('/static/images/HB.avif');
    background-color: #ebebeb;
}

.custom-head{
    text-align: center;
}

.custom-button{
    background-color: #7a048f;
}

.custom-button:hover{
    background-color: #3b0b53;
}


