<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Cyberwatch{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' href='/static/css/styles.css'>

    </head>
    <body class="body" >
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-4 text-center text-md-start mb-2 mb-md-0">
                    <a href="/">
                        <img class="logo" src="/static/images/logo.png" alt="Logo">
                    </a>
                </div>

                <div class="col-12 col-md-4 text-center">
                    <h1 class="m-0">Cyberwatch</h1>
                </div>

                <div class="d-none d-md-block col-md-4"></div>
            </div>
        </div>

        


        <h2 class=" align-items-center custom-head d-flex text-center justify-content-center">{% block heading%}Vulnerabilities tracker{% endblock %}</h2>
        
        <div class='content'>
            {% block content %}{% endblock %}
        </div>
        <script src="static/js/script.js">
            
        </script>
        <!-- <div>
            <a class="btn btn-warning btn-block text-white" href="/privacy" >Our Privacy Policy</a>
        </div>  -->
    </body>
</html>


