{% extends 'base.html' %}

{% block heading %}Incidents{% endblock %}

{% block content %}

<form method="GET" action="/fulllist.html" class="mb-4 text-center">
    <input
        type="text"
        name="year"
        placeholder="Enter year"
        value="{{ selected_year }}"
    >
    <button type="submit" class="btn custom-btn ">Filter</button>
</form>

{% if error_message %}
    <p class="text-center text-danger">{{ error_message }}</p>
{% endif %}

<div class="row">
    {% if incidents %}
        {% for i in incidents %}
        <div class="col-12 col-md-6 mb-3">
            <div class="card p-3">
                <h3>Name: {{ i.inc_name }}</h3>
                <p>{{ i.inc_year }}</p>
                <a class="btn custom-btn btn-block " href="{{ i.inc_url }}">View</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="text-center">There are no incidents</p>
    {% endif %}
</div>

{% endblock %}
