{% extends 'base.html' %}

<!-- update the heading to be the vulnerability name that was clicked on from index.html -->

{% block heading %}
{{ vulnerability[0] }}
{% endblock %}

{% block content %}
<!-- Use a for loop to display the incidents that match the vulnerability. -->

<div class="row">
    {% for i in incidents %}
    <div class="col-12 col-md-6 mb-3 ">
        <div class="card p-3 ">
            <h5>Incident: {{ i.inc_name }}</h5>
            <p>{{ i.inc_year }}</p>
            <p>{{ i.inc_url }}</p>
            <a class="btn btn-warning btn-block text-white" href="{{ i.inc_url}}">View</a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Add the button for adding a new incident -->

<div>
    <div>
        <div>
            <div>
                <div class="Tunabtn">
                    <div>
                        <a class="btn btn-warning btn-block text-align-center text-white" href="/add-incident">
                            Add Incident
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}